services:
  backend:
    build: .
    ports:
      - 8080:8080
  frontend:
    build: .
    ports:
      - 3000:3000
  db:
    image: postgres:alpine
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
    