services:
  backend:
    build: .
    ports:
      - 8080:8080
    depends_on:
      - db
  frontend:
    build: .
    ports:
      - 3000:3000
  db:
    image: postgres:alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - db_data:/var/lib/postgresql/data

  # db_test:
  #   image: postgres:alpine
  #   ports:
  #     - "5433:5432"
  #   environment:
  #     POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
  #     POSTGRES_USER: ${POSTGRES_USER}
  #     POSTGRES_DB: ${POSTGRES_DB}
  #   volumes:
  #     - db_test_data:/var/lib/postgresql/data

volumes:
  db_data:
  # db_test_data:
    