services:
  backend:
    build: .
    ports:
      - 8080:8080
  frontend:
    build: .
    ports:
      - 3000:3000
  db:
    image: postgres:alpine
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
    